@import url('https://css.gg/css');
:root {
    --clr-background: #F6E1E1;
    --clr-primary: #ff9d76;
    --clr-secondary: #333366;
    --clr-accent: #EB4D55;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


html, body {
    background-color: var(--clr-background);
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

/* HEADER */

.logotipo{
    display: flex;
    flex-direction: row;
}

.logotipo p{
    display: none;
}

.logotipo h1{
    text-align: center;
    margin: auto;
    font-size: 2.5em;
}

/* BARRA DE NAVEGACIÓN */

nav {
    display: flex;
    justify-content: space-around;
    padding: 1em;
    background-color: var(--clr-secondary);
    align-items: center;
}

nav *, .usuario{
    height: 100%;
    color: var(--clr-primary);
    background-color: var(--clr-secondary);
    display: flex;
    flex-direction: row;
}

nav a p{
    display: none;
}
nav * i{
    font-size: 2em;
}

/* MAIN */

h2 {
    text-align: center;
    padding: 1em;
    font-size: 1.5em;
}

article {

    border-radius: 15%;
    margin:0em 3.5em 1em ;
    background-color: var(--clr-secondary);
    text-align: center;
    padding: 2em 3em;
 
}
img{
    max-width: 100%;
    height: auto;
}

article section{
    background-color: var(--clr-primary);
    border-style:groove;
    margin-top: 0.75em;
    font-size: small;
    color: var(--clr-secondary)
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.solicitado p{
    color: var(--clr-primary);
    padding-bottom: 1em;
}

.boton{
    margin: 1em;
    background-color: var(--clr-primary);
    color: var(--clr-secondary);
    padding: 1em 1em;
    border-style:solid;
    border-width: 1px;
    font-size: medium;

}
.boton:hover{
    background-color: var(--clr-secondary);
    color: var(--clr-primary);
}


/* PIE DE PAGINA */

footer{
    padding: 1em;
    background-color: var(--clr-secondary);
    color: var(--clr-primary);
    text-align: center;
}



/* MEDIA QUERYS */

@media screen and (min-width: 700px){
    .logotipo p{
        display: block;
        text-align: center;
        margin: auto;
        font-size: 1.2em;
    }
    nav a p {
        display: block;
        padding-left: 1em;
    }
}

@media screen and (min-width: 1024px){
    .logotipo p{
        display: block;
        text-align: center;
        margin: auto;
        font-size: 2em;
    }
}